<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d] %c %p - %m%n"/>
        </layout>
    </appender>

   <appender name="rollingLog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="${jetty.home}/logs/camel.mdc.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%-15.15t] %-5p %-30.30c{1} - %-10.10X{exchangeId} - %-10.10X{routeId} - %m%n"/>
        </layout>
    </appender>

    <!--Change or add to these to get varied levels of logging for specific package-->
    <logger name="com.amazonaws.services.cloudsearch">
        <level value="INFO"/>
    </logger>

    <logger name="org.apache.camel">
        <level value="WARN"/>
    </logger>
    <logger name="org.apache.activemq.camel">
        <level value="WARN"/>
    </logger>
    <logger name="org.hibernate.SQL">
        <level value="WARN"/>
    </logger>
    <logger name="org.hibernate.type">
        <level value="WARN"/>
    </logger>
    <logger name="org.hibernate.jdbc">
        <level value="WARN"/>
    </logger>
    <logger name="org.springframework">
        <level value="WARN"/>
        <appender-ref ref="rollingLog"/>
    </logger>

    <!--Default logging configuration-->
    <root>
        <priority value="WARN"/>
        <appender-ref ref="console"/>
        <appender-ref ref="rollingLog"/>
    </root>

</log4j:configuration>